# compiled output
/example
/coverage
/.nx-cache
/.nx
*.log
tmp
/.verdaccio/build/local-registry
/graph/client/src/assets/environment.js
/graph/client/src/assets/dev/environment.js
/graph/client/src/assets/generated-project-graphs
/graph/client/src/assets/generated-task-graphs
/graph/client/src/assets/generated-task-inputs
/graph/client/src/assets/generated-source-maps

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Local dev files
.env.local
.bashrc
.nx

# We don't commit a CHANELGELOG.md file to the repo, we only create Github releases
CHANGELOG.md

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# PNPM
pnpm-lock.yaml

# misc
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db
